.text-box{
    z-index: 99;
    padding-top: 20px;
    color: #fff;
}
.banner-wrap{
	height: 100vh;
    background-image: url('../images/banner2.jpg');
    background-size: contain;
    background-position: right;
}
.title{
	font-size:58px;
}
.see-more:hover{
	background-color: #e7f2fc !important;
}
.content-wrap{
	width: 50%;
	height: 65%;
	background-image: linear-gradient(to right, #c7f6fbaf, #fafdff58);
}
.content-banner-1{
	background-color: rgb(253, 166, 234);
	height: 600px;
}
.content-banner-2{
	background-color: rgb(35, 163, 243);
	height: 600px;
}
.content-banner-3{
	background-color: rgb(13, 227, 216);
	height: 600px;
}
.content-banner-4{
	background-color: rgb(246, 254, 226);
	height: 600px;
}
.dropdown-menu{
	min-width: 220px;
	border-radius: 9px;
}